*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
app/src/main/assets/encoder_base_plus.onnx
app/src/main/assets/decoder_base_plus.onnx